<% provide(:title, "Acerca del Tecn&oacute;logo") %>

<div class="row body">
    
    <div class="col-md-6">
        
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">
                Acerca del Tecn&oacute;logo
            </h2>
            
            <p>
                <b>Duraci&oacute;n: </b>3 a&ntilde;os / 6 semestres
            </p>
            
            <p>
                <b>Requisitos de ingreso: </b>Pueden ingresar a la carrera tanto egresados del “Bachillerato Tecnol&oacute;gico de Procesamiento 
                y Mantenimiento Inform&aacute;tico”, de la “Ense&ntilde;anza Media Tecnol&oacute;gica en Inform&aacute;tica” y de los “Bachilleratos de Educaci&oacute;n 
                Secundaria” que habiliten el ingreso a la Facultad de Ingenier&iacute;a.
            </p>
            
            <p>
                <b>Perfil de egreso:</b>El Tecn&oacute;logo en Inform&aacute;tica ser&aacute; capaz de desarrollar sistemas de pequeño y mediano porte y podr&aacute; integrarse a grupos de desarrollo de proyectos de porte superior. 
                Contar&aacute; con la habilidad de construir y evaluar soluciones inform&aacute;ticas abarcando las tareas de construcci&oacute;n, pruebas y documentaci&oacute;n, integrando eventualmente distintas tecnolog&iacute;as.
                La carrera de se dicta en forma conjunta entre la Universidad de la Rep&uacute;blica (UdelaR) y la Administraci&oacute;n Nacional de la Educaci&oacute;n P&uacute;blica (ANEP). En Paysand&uacute; los cursos se desarrollan en las instalaciones del Puerto Digital Regional (Paysand&uacute; Innova).
            </p>
            
        </div>
    </div> 
    
    <div class="col-md-6">
        <img class="img-responsive" src="../Inova.jpg" alt="" >
    </div>
    
    
</div>
