<% provide(:title, 'Home'); %>

<nav class="navbar navbar-fixed-top transparente">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo.png", alt: " "),'/' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
              </li>
              <li>
                  <a href="/acercade">Acerca del Tecn&oacute;logo</a>
              </li>
              <li>
                  <a href="/contactenos">Contacto</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header>
    <div id="carousel" class="csslider1 autoplay ">
    	<input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide">
    	<input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide">
    	<input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide">
    	<input name="cs_anchor1" id="cs_slide1_3" type="radio" class="cs_anchor slide">
    	<input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked="">
    	<input name="cs_anchor1" id="cs_pause1_0" type="radio" class="cs_anchor pause">
    	<input name="cs_anchor1" id="cs_pause1_1" type="radio" class="cs_anchor pause">
    	<input name="cs_anchor1" id="cs_pause1_2" type="radio" class="cs_anchor pause">
    	<input name="cs_anchor1" id="cs_pause1_3" type="radio" class="cs_anchor pause">
    	<ul>
    		<li class="cs_skeleton"><img src="http://www.fing.edu.uy/sites/default/files/cupDSC05907_0.jpg" style="width: 100%;"></li>
    		<li class="num0 img slide"> <img src="http://www.fing.edu.uy/sites/default/files/cupDSC05881_0.jpg" ></li>
    		<li class="num1 img slide"> <img src="http://servicios.fondosolidaridad.org.uy/Portal/faces/resources/img/logo_portal.png" ></li>
    		<li class="num2 img slide"> <img src="https://comparabien-default.s3.amazonaws.com/field/image/estudiantes-2.jpg" ></li>
    		<li class="num3 img slide"> <img src="http://www.unilab.edu.br/wp-content/uploads/2012/06/laboratorio-informatica-Unilab.jpg" ></li>
    	</ul>
    	<div class="cs_engine"></div>
	</div>
</header>

<!-- Page Content -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Full Slider by Start Bootstrap</h1>
            <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>full-slider.css</code>file.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <hr>
    
    <footer class="">
        <div class="">
            
        </div>
    </footer>

<!-- /.container -->

