
<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Tecn&oacute;logo en Inform&aacute;tica</h1>
                        <h3>Paysand&uacute;</h3>
                        <!--
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://youtube.com" class="btn btn-primary btn-lg"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">Youtube</span></a>
                            </li>
                            <li>
                                <a href="http://www.ovaciondigital.com.uy" class="btn btn-primary btn-lg"><i class="fa fa-futbol-o fa-fw"></i> <span class="network-name">Ovaci&oacute;n</span></a>
                            </li>
                            <li>
                                <a href="http://www.fing.edu.uy/tecnoinf/paysandu/index.html" class="btn btn-primary btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Tecn&oacute;logo</span></a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    
    
    <!-- /.intro-header -->
    <!-- Page Content -->

  <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ambiente:<br>Salones y Laboratorios</h2>
                    <p class="lead">Excelente ambiente de trabajo y estudio en nuestros laboratorios y salones y yo que sé, si queres saber veni a visitarnos que alg&uacute;n TIP siempre habr&aacute;.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/lab2.jpg" alt="">
                </div> 
            </div>

        </div>
        <!-- /.container src="http://pngimg.com/upload/tablet_PNG8565.png" -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Requisitos de Ingreso</h2>
                    <p class="lead"> 
                        Pueden ingresar a la carrera tanto egresados del “Bachillerato Tecnol&oacute;gico de Procesamiento y Mantenimiento Inform&aacute;tico”, de la “Enseñanza Media Tecnol&oacute;gica en Inform&aacute;tica” y de los “Bachilleratos de Educaci&oacute;n Secundaria” que habiliten el ingreso a la Facultad de Ingenier&iacute;a.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/data2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Perfil del egresado: </h2>
                    <p class="lead">El Tecn&oacute;logo en Inform&aacute;tica ser&aacute; capaz de desarrollar sistemas de pequeño y mediano porte y
                                    podr&aacute; integrarse a grupos de desarrollo de proyectos de porte superior. 
                                    Contar&aacute; con la habilidad de construir y evaluar soluciones inform&aacute;ticas abarcando las tareas de 
                                    construcci&oacute;n, pruebas y documentaci&oacute;n, integrando eventualmente distintas tecnolog&iacute;as. 
                                    Poseer&aacute; habilidades de comunicaci&oacute;n, tanto para presentar sus soluciones dentro del &aacute;rea, como
                                    para interactuar con profesionales de otras &aacute;reas y p&uacute;blico en general. Esto incluye la capacidad
                                    de trabajar en equipo en todos los aspectos de su actividad.
                                    <br>
                                    Al egresar de la carrera el Tecn&oacute;logo en Inform&aacute;tica habr&aacute; adquirido una formaci&oacute;n en las &aacute;reas fundamentales de la computaci&oacute;n
                                    con una profundizaci&oacute;n en alguna sub&aacute;rea de la misma. Dicha formaci&oacute;n incluir&aacute; aspectos te&oacute;ricos fundamentales y una fuerte componente pr&aacute;ctica, incluyendo el manejo de tecnolog&iacute;as actualizadas. También incluir&aacute; la experiencia de desarrollo de una soluci&oacute;n inform&aacute;tica a un problema real, preferentemente realizada en el contexto de una pasant&iacute;a en una empresa (Proyecto/Pasant&iacute;a).
                                    <br>
                                    <br>
                                    Lugar: Puerto digital Paysand&uacute; Innova – Leandro G&oacute;mez esquina 33 Orientales. 
                                    <br>
                                    Horarios de los cursos: 18 – 00 hs
                                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/pasillo.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Ven&iacute; a estudiar al Tecn&oacute;logo en Paysand&uacute;</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                                <a href="/contactenos" class="btn btn-primary btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Contacto</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

   </div>
