<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a TIP.edu.uy, <%= @user. %></h1>
    <p>
      Tu correo ha sido enviado satisfactoriamente y su identificador es:
      <%= @user. %>.<br/>
    </p>
    <p>
      Recuerda visitarnos en: <a href="<%= @url %>">http://tareajava-cheloo.c9.io/</a>
    </p>
    <p>Te recomiendo echarle un vistazo a http://tareajava-cheloo.c9.io/.</p>
  </body>
</html>