

<div class="row profile">
    <div class="col-sm-4 col-md-3">
        
        <h1><%= @user.full_name %></h1>
        <ul>
            <%= content_tag(:li, ("Nombre: " + @user.name)) unless @user.name.blank? %>
            <%= content_tag(:li, ("Edad: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " años")) unless @user.date_of_birth.blank? %>
        </ul>
    </div>
    
</div>



<!-- lo que hace el segundo content_teg es resar la fecha actual con la de nacimiento y nos la edad, magia chavall -->