
/*

.info{
 float:center;
}
.imagen{
 position: relative;
 float:left;
}

ul, ol {
				list-style:none;
			}
			
		/*	.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
 
 .mostrar{
     background:  	#C0C0C0;
     position: absolute;
     width:400px;
     top:450px;
     left:300px;
   opacity:0.9;
 }
 .otrascosas{
     background: #C0C0C0;
     position: absolute;
     top:100px;
     width: 100%;
     height: 350px;
     opacity:0.9;
 }
 
 .metro .input-control.text input, .metro .input-control.password input, .metro .input-control.file input, .metro .input-control.email input, .metro .input-control.tel input, .metro .input-control.number input {
border-style: solid;
border-width: 2px;
border-color: #BDC3C7;
transition: border-color 0.5s ease-in-out 0s;
border-radius: 3px;
padding: 10px 10px 9px 2.3em;
outline: medium none;
box-sizing: border-box;
-moz-appearance: none;
font-size: 1em;
}



a:active {
	position: relative;
	top: 1px;
	}
	
	body {
	 transition: opacity 0.4s;
	font-size: 20px;
	}*/